In [1]:
import pandas as pd
import numpy as np

In [2]:
store_data = pd.read_csv('store-status.csv')

In [3]:
store_data.head()

              store_id  status                   timestamp_utc
0  8419537941919820732  active  2023-01-22 12:09:39.388884 UTC
1    54515546588432327  active  2023-01-24 09:06:42.605777 UTC
2  8377465688456570187  active  2023-01-24 09:07:26.441407 UTC
3  5955337179846162144  active  2023-01-24 09:08:07.634899 UTC
4  1169347689335808384  active  2023-01-24 09:08:18.436854 UTC

In [4]:
store_data.describe()

           store_id
count  1.822080e+06
mean   4.602054e+18
std    2.641361e+18
min    2.574063e+14
25%    2.326915e+18
50%    4.590731e+18
75%    6.845758e+18
max    9.222367e+18

In [5]:
store_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1822080 entries, 0 to 1822079
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   store_id       int64
 1   status         object
 2   timestamp_utc  object
dtypes: int64(1), object(2)
memory usage: 41.7+ MB