In [1]:
import pandas as pd
import numpy as np

In [2]:
store_data = pd.read_csv('store-status.csv')

In [3]:
store_data.head()

              store_id  status                   timestamp_utc
0  8419537941919820732  active  2023-01-22 12:09:39.388884 UTC
1    54515546588432327  active  2023-01-24 09:06:42.605777 UTC
2  8377465688456570187  active  2023-01-24 09:07:26.441407 UTC
3  5955337179846162144  active  2023-01-24 09:08:07.634899 UTC
4  1169347689335808384  active  2023-01-24 09:08:18.436854 UTC

In [4]:
store_data.describe()

           store_id
count  1.822080e+06
mean   4.602054e+18
std    2.641361e+18
min    2.574063e+14
25%    2.326915e+18
50%    4.590731e+18
75%    6.845758e+18
max    9.222367e+18

In [5]:
store_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1822080 entries, 0 to 1822079
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   store_id       int64
 1   status         object
 2   timestamp_utc  object
dtypes: int64(1), object(2)
memory usage: 41.7+ MB

In [14]:
sample_date = store_data['timestamp_utc'][0]
sample_date

'2023-01-22 12:09:39.388884 UTC'

In [15]:
from datetime import datetime

In [16]:
processed_date_sample = datetime.strptime(sample_date, '%Y-%m-%d %H:%M:%S.%f %Z')

In [17]:
year = processed_date_sample.year
month = processed_date_sample.month
day = processed_date_sample.day
hour = processed_date_sample.hour
minute = processed_date_sample.minute
second = processed_date_sample.second
microsecond = processed_date_sample.microsecond

In [18]:
print("Year:", year)
print("Month:", month)
print("Day:", day)
print("Hour:", hour)
print("Minute:", minute)
print("Second:", second)
print("Microsecond:", microsecond)

Year: 2023
Month: 1
Day: 22
Hour: 12
Minute: 9
Second: 39
Microsecond: 388884

In [19]:
menu_hours_data = pd.read_csv('Menu-hours.csv')

In [20]:
menu_hours_data.head()

              store_id  day start_time_local end_time_local
0  1481966498820158979    4         00:00:00       00:10:00
1  1481966498820158979    2         00:00:00       00:10:00
2  1481966498820158979    0         00:00:00       00:10:00
3  1481966498820158979    1         00:00:00       00:10:00
4  1481966498820158979    5         00:00:00       00:10:00

In [21]:
menu_hours_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86198 entries, 0 to 86197
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   store_id          86198 non-null  int64
 1   day               86198 non-null  int64
 2   start_time_local  86198 non-null  object
 3   end_time_local    86198 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.6+ MB

In [22]:
menu_hours_data.describe()

           store_id           day
count  8.619800e+04  86198.000000
mean   4.617082e+18      3.029142
std    2.639867e+18      1.982114
min    2.574063e+14      0.000000
25%    2.354823e+18      1.000000
50%    4.617619e+18      3.000000
75%    6.871238e+18      5.000000
max    9.222367e+18      6.000000

In [23]:
bq_data = pd.read_csv('bq-results-20230125-202210-1674678181880.csv')

In [24]:
bq_data.head()

              store_id    timezone_str
0  8139926242460185114     Asia/Beirut
1  5415949628544298339   America/Boise
2  3408529570017053440  America/Denver
3  9055649751952768824  America/Denver
4  4428372089193592098  America/Denver